*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/* navbar style Start here */
.menu-bar{
     background-color: lightblue;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;
     padding: 0px 50px;
}
nav{
    display: flex;
    gap: 10px;
}
nav ul{
    list-style: none;
    
}
nav ul li{
    display: inline;
    padding-left: 20px;
    font-size: 1.30rem;
}
nav ul li a{
    text-decoration: none;
    color: black;
    
    
}
/* navbar style end here */






/* media quary start here */
@media screen and (max-width:577px){
    
    .menu-nav{
        background-color: green;
    }
}